body {
  margin: 0;
  font-family: 'Fredoka One', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Fredoka One', cursive;
}
.MuiTypography-body1, .MuiTypography-root{
  font-family: 'Fredoka One', cursive!important;
}

.MuiButton-root{
  font-family: 'Fredoka One', cursive!important;
}